

#titulo {
	width: 350px;
	height: 20px;	
/*    border-top-left-radius: 10px;
    border-top-right-radius: 10px;*/
        padding-top: 10px;
}
#titulo1 {
	width: 350px;
	height: 20px;	
/*    border-top-left-radius: 10px;
    border-top-right-radius: 10px;*/
    padding-bottom: 10px;
    padding-top: 10px;
}

#dentro {
	width: 360px;
	height: 360px;
	float: left;
}

#tudo {
	width: 100%;
	height: 100%;
	padding-top: 1px;
	padding-right: 5px;
	font-weight: bold;
	
}
#tudo1 {
	width: 350px;
	height: 350px;
	float: left;
	text-align: center;
/*	border-radius: 10px;*/
	box-shadow: 0 0px 5px rgba(0, 0, 0, .3);
	background: #FFFFFF;
}
#tudo2 {
	left: 350px;
	width: 350px;
	height: 350px;
	float: left;
	border: 0.1px solid rgb(220,220,220);
    text-align: center;

/*	border-radius: 10px;*/
	background: #FFFFFF;
	box-shadow: 0 0px 5px rgba(0, 0, 0, .3);
}
#tudo3 {
	position: relative;
	left: 350px;
	width: 350px;
	height: 350px;
	float: left;
	text-align: center;
	border: 0.1px solid rgb(220,220,220);
/*	border-radius: 10px;*/
	background: #f5f5f5;
}
}
#tudo4 {
	position: relative;
	left: 350px;
	width: 350px;
	height: 350px;
	float: left;
	text-align: center;
	border: 0.1px solid rgb(220,220,220);
	border-radius: 10px;
	background: #f5f5f5;
}
}
