table {
	font-size: 13px;
}

#credito {
padding-top: 50px;
padding-right: 5px;
padding-left: 5px;

}

#titulo {
	width: 285px;
	height: 20px;	
/*    border-top-left-radius: 10px;
    border-top-right-radius: 10px;*/
        padding-top: 10px;

}
#titulo1 {
	width: 285px;
	height: 20px;	
/*    border-top-left-radius: 10px;
    border-top-right-radius: 10px;*/
    padding-bottom: 10px;
    padding-top: 10px;
}
#titulo2 {
	width: 570px;
	height: 20px;	
/*    border-top-left-radius: 10px;
    border-top-right-radius: 10px;*/
    padding-bottom: 20px;
    padding-top: 10px;
}

#titulo3 {
	width: 855px;
	height: 20px;	
/*    border-top-left-radius: 10px;
    border-top-right-radius: 10px;*/
    padding-bottom: 10px;
    padding-top: 10px;
}

#dentro {
	width: 285px;
	height: 325;
	float: left;
}

#dentro2 {
	width: 845px;
	height: 325;
	float: left;
}


#dentro1 {
	width: 570px;
	height: 325px;
	float: left;
}

#tudo {
	width: 100%;
	height: 100%;
	padding: 5px;
	font-weight: bold;

}
#tudo1 {
	width: 280px;
	height: 320px;
	float: left;
	text-align: center;
/*	border-radius: 10px;*/
	box-shadow: 0 0px 5px rgba(0, 0, 0, .3);
	background: #FFFFFF;
}
#tudo2 {
	width: 565px;
	height: 320px;
	float: left;
	border: 0.1px solid rgb(220,220,220);
    text-align: center;

/*	border-radius: 10px;*/
	background: #FFFFFF;
	box-shadow: 0 0px 5px rgba(0, 0, 0, .3);
}
#tudo3 {
	width: 850px;
	height: 320px;
	float: left;
	border: 0.1px solid rgb(220,220,220);
    text-align: center;

/*	border-radius: 10px;*/
	background: #FFFFFF;
	box-shadow: 0 0px 5px rgba(0, 0, 0, .3);
}
}
#tudo4 {
	position: relative;
	left: 350px;
	width: 350px;
	height: 350px;
	float: left;
	text-align: center;
	border: 0.1px solid rgb(220,220,220);
	border-radius: 10px;
	background: #f5f5f5;
}
}
